body {
	padding: 0;
    margin: 0;
	background-color: rgb(222, 222, 222);
	font-family: "Microsoft YaHei UI", sans-serif;
}

#header {
	font-size: 20px;
	height: 40pt;
	background-color: black;
	color: white;
	overflow: hidden;
}

#header a {
    text-decoration: none;
    color: white;
}

#logo {
	float: left;
	margin: 11px 30px;
}

#header_nav {
	float: right;
	margin: 11px 30px;
}

.content_block {
	margin: 20px auto;
	padding: 10px;
	background-color: white;
	border: thin solid rgb(203, 203, 203);
}

.content_block p a {
	color: blue;
	text-decoration: underline;
}

#image_list li {
    float: left;
    width: 150px;
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(204, 204, 204);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#side_block {
	text-align: center;
}

#all_content {
	overflow: hidden;
	min-width: 1000px;
}

#right_content {
	float: right;
	width: 350px;
	padding: 0px 15px;
}

#submit_button {
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    height: 40px;
    background-color: rgb(51, 85, 208);
}

#left_content {
	overflow: auto;
	padding-left: 20px;
}

#footer {
	font-size: 20px;
	height: 45pt;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 3px;
}

