body {
	padding: 0;
    margin: 0;
	font-family: "Microsoft YaHei UI", sans-serif;
}

#container {
	background-color: #eee;
	border:#999 solid 1px;
	padding: 20px;
	margin: 20px;
	min-height: 460px;
	min-width: 600px;
}

#left {
	width: 220px;
	float: left;
}

#team{
	background-color: white;
	border:#999 solid 1px;
	padding: 20px;
	margin: 10px;
	height: 80px;
}

#team_logo {
	float: left;
}

#team_name {
	float: left;
	line-height: 80px;
	margin-left: 10px;
}

#middle {
	background-color: white;
    border:#999 solid 1px;
	margin-left: 230px;
	margin-right: 140px;
	margin-top: 10px;
	padding: 20px;
}

#right {
	background-color: white;
	border:#999 solid 1px;
	width: 118px;
	height: 380px;
	margin-top: 10px;
	float: right;
}

.person_logo {
	background-color: white;
    border:#999 solid 1px;
    width: 80px;
    height: 80px;
    margin: 10px auto;
	padding: 0px;
}

.fix{
  clear: both;
}

