* {
    margin: 0;
    padding: 0;
    /* for ios flickers when tapped
       reference: http://stackoverflow.com/questions/9526719/ipad-canvas-flickers-when-tapped
    */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

canvas {
    /*background: #ff9588;*/
}

body {
    overflow: hidden;
}

.percent {
    text-align: center;
    margin-top: 80%;
    font-size: 21px;
}