form {
  display: inline;
}

#show-box {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#show-box button {
    border: none;
    height: 60px;
    width: 60px;
}

.queue-ele {
    margin: 10px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    background-color: red;
    height: 80px;
    width: 80px;
}