html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
ol,
li,
p,
span,
input,
button,
img,
a {
    margin: 0;
    padding: 0;
    border: 0;
}
html,
body {
    font-family: 'Microsoft YaHei', sans-serif;
    width: 100%;
}
html {
    overflow-y: scroll;
}
ul {
    list-style: none;
}
i:hover {
    cursor: pointer;
}
.nav-hold {
    height: 50px;
}
.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    background-color: #2d4f7c;
}
.nav ul {
    display: flex;
    width: 600px;
    height: 50px;
    margin: 0 auto;
}
.nav li {
    line-height: 50px;
    position: relative;
    float: left;
    text-align: center;
    color: #96a7be;
    flex: 1;
}
.nav li:hover {
    cursor: pointer;
    color: #fff;
}
#manage a {
    line-height: 50px;
    display: block;
    height: 50px;
    text-decoration: none;
    color: #96a7be;
}
#manage a:hover {
    text-decoration: underline;
    color: #fff;
}
.nav .active {
    color: #fff;
}
.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}
#water-fall {
    display: flex;
    width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid #aaa;
}
.col-img {
    margin: 0 5px;
    flex: 1;
}
.col-img .min {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}
.col-img .min:hover {
    cursor: pointer;
}
.col-img .big {
    position: fixed;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
}
.max {
    position: fixed;
    z-index: 3;
    height: 0;
    cursor: move;
}
#shadow {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
}
#shadow i {
    font-size: 60px;
    z-index: 5;
    display: block;
    color: #fff;
}
.icon-cancel {
    position: absolute;
    top: 0;
    right: 0;
}
.icon-left-open-big {
    position: absolute;
    top: 50%;
    left: 0;
}
.icon-right-open-big {
    position: absolute;
    top: 50%;
    right: 0;
}
.icon-up-open-big {
    font-size: 25px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    color: #fff;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    text-align: center;
    border-radius: 50%;
    background-color: #404654;
}
.icon-up-open-big:hover {
    background-color: #e8594b;
}
#footer {
    line-height: 50px;
    height: 50px;
    text-align: center;
}