#wrapper {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  margin: 5px;
  border: 1px solid #000;
  background-color: #fff;
  width: 730px;
  height: 240px; 
}

.layer_1 {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  margin: 5px;
  border: 1px solid #000;
  background-color: #fff;
  width: 340px;
  height: 200px; 
}

.layer_2 {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  margin: 5px;
  border: 1px solid #000;
  background-color: #fff;
  width: 135px;
  height: 160px; 
}

.layer_3 {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  margin: 5px;
  border: 1px solid #000;
  background-color: #fff;
  width: 52.5px;
  height: 120px;
}