body{
	font-family: cursive;
	text-align: center;
}
#player{
	margin: 0 4em 0 0;
	display: inline-block;
}
#enemy{
	margin-left: 4em;
	display: inline-block;
}
h1{
	font-size: xx-large;
	margin-bottom: 0.5em;
}
.choose{
	opacity: 0.5;
}
.choose:hover{
	cursor: pointer;
	opacity: 1;
}
#result{
	display: flex;
	line-height: normal;
	justify-content:center;
	align-items:center;
	font-size: x-large;
	display: none;
}
#result > img{
	margin: auto 0.5em;
}
h2{
	float: left;
}