* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*=col-] {
	float: left;
	display: inline-block;	
	padding: 10px;
	min-height: 70px;
}

[class*=col-] div{
	padding: 5px;
    min-height: 50px;
    border: 1px solid #999;
    background-color: #eee;
}

@media screen and (min-width: 768px) {
	.col-md-1 {
		width: 8.333%;
	}

	.col-md-2 {
		width: 16.666%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.333%;
	}

	.col-md-6 {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.col-sm-2 {
		width: 16.666%;
	}

	.col-sm-3 {
		width: 25%;
	}

    .col-sm-6 {
		width: 50%;
	}

	.col-sm-8 {
		width: 66.666%;
	}

	.col-sm-12 {
		width: 100%;
	}
}